@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: white;
  position: relative;
  transition: all .3s ease-in-out;
  overflow: hidden;
  transition: all 1s ease-in;
}

canvas{
  background-color: black;
  z-index: -11;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4rem;
  z-index: 9999;
}

.nav .logo a {
  text-decoration: none;
  color: rgb(175, 174, 174);
  transition: all .5s ease-in;
  position: absolute;
  top: 2rem;
  left: 4rem;
}

.nav .logo a:hover {
  color: white;
}

.nav .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.nav .nav-items li {
  margin: 0 1rem;
  list-style: none;
  text-transform: uppercase;
}

.nav-items a {
  text-decoration: none;
  color: grey;
  transition: all .5s ease-in;
  position: relative;
}

.nav-items a::after {
  content: '';
  height: 1px;
  width: 0%;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 0px;
  transition: all .6s ease-in-out;
}

.nav-items a:hover::after {
  width: 60%;
}

.nav-items a:hover {
color: white;
} 


/* Start navMenu */

#navMenu {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

#navMenu span {
  display: block;
  width: 28px;
  height: 1px;
  border-radius: 9999px;
  background-color: rgb(75, 92, 1);
}

#navMenu span:not(:last-child) {
  margin-bottom: 7px;
}

#navMenu, 
#navMenu span {
  transition: all .3s ease-in-out;
  cursor: pointer;
}

#navMenu.active {
  transition-delay: 0.4s;
  transform: rotate(45deg);
}

#navMenu.active span:nth-child(2) {
  width: 0;
}

#navMenu.active span:nth-child(1), 
#navMenu.active span:nth-child(3) {
  transition-delay: 0.2s;
}

#navMenu.active span:nth-child(1) {
  transform: translateY(9px);
}

#navMenu.active span:nth-child(3) {
  transform: translateY(-9px) rotate(90deg);
}

#navMenu {
  display: none;
}

/* End NavMenu */

.main-content {
  overflow: hidden;
}

.main-content h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}

footer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

footer h1 {
  font-size: 50px;
  letter-spacing: 3rem;
  white-space: nowrap;
}




/* <<<<<<<<< CONTACT SECTION >>>>>>>>>>*/

.section-m {
  margin: 0 2rem;
}

.contact-main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  margin-top: 5rem;
} 

.contact-main .contact-header {
  margin: 1rem 2rem;
}

.contact-main .contact-header h1{
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 300;
}

.contact-header .contact-subtext h4 {
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 20px;
  transition: all .4s ease-in-out;
}

.contact-header .contact-subtext .left-text {
  position: absolute;
  top: 7rem;
  right: 6rem;
  color: grey;
}

.contact-header .contact-subtext h4:hover {
  color: white;
  scale: 1.01;
}


.form-section {
  margin-top: 6rem;
  font-weight: 300;
}

.form-section .form-container {
  display: flex;
  justify-content: space-between;
}

.form-container .form-header {
  margin: 2rem 0;
  font-size: 30px;
  font-weight: 600;
}
.contact-form .form-header {
  margin: .5rem 0;
}

.form-section form {
  display: flex;
  flex-direction: column;
}

.form-section form input,
.form-section form select {
  width: 25rem;
  height: 4rem;
  margin: 1rem 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  font-size: 16px;
  transition: all .4s ease-in-out;
}

.form-section form input:hover, 
.form-section form input:focus, 
.form-section form input:active {
  scale: 1.03;
}

.form-section form select {
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.form-section form option {
  background: black;  
  font-size: 16px;
}

.contact-form {
  position: relative;
}

.contact-form a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: -6rem;
  right: 3rem;
  text-align: center;
}

.contact-form a::after {
  content: '';
  width: 10rem;
  height: 3.5rem;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  top: -10px;
  right: -40px;
  border-radius: 50%;
  transition: all .5s ease-in;
}

.contact-form a::before {
  content: '';
  width: 10rem;
  height: 3.5rem;
  background-color: transparent;
  border: 1px solid white;
  position: absolute;
  top: -10px;
  right: -40px;
  border-radius: 50%;
  transform: rotate(-20deg);
  transition: all .5s ease-in-out;
}

.contact-form a:hover::before{
  transform: rotate(0deg);
}

.contact-form a:hover::after{
  transform: rotate(20deg);
}

.contact-socials .form-header{
  text-transform: uppercase;
}

.form-container .contact-socials {
  display: flex;
  margin-top: 4rem;
}

.form-container .contact-socials h3{
  font-weight: 300;
  font-size: 22px;
}

.contact-socials .form-header {
  font-weight: 500;
  font-size: 28px;
}

.contact-socials .location {
  margin-right: 5rem;
}

.form-container .contact-socials a {
  color: grey;
  font-size: 22px;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: all .3s ease-in-out;
}

.contact-socials .social a {
  padding: 0 .2rem;
}

.form-container .contact-socials a:hover {
  color: white;
  box-shadow: 5px 3px 5px rgba(128, 128, 128, 0.493);
}

.contact-socials .location h3 {
  color: grey;
}